[bumpversion]
current_version = 0.2.1
commit = True
tag = True
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize =
    {major}.{minor}.{patch}

[bumpversion:file:./json_to_models/__init__.py]
