# .coveragerc to control coverage.py
[run]
omit =
    json_to_models/lazy.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def main
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    return$
    return \(\)$
    return None$
    return \{\}$
    return \[\]$
    return self$
    return str\(self\)$
    if __name__ == .__main__.:
    pass
skip_covered = True