# .coveragerc to control coverage.py
[run]

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
skip_covered = True