.idea/
.pytest_cache/
venv/
/test.py
/json2python-models-*/

htmlcov/
.coverage
.coverage.*
coverage.xml

.env
*.pyc
*.log
*.tmp
tmp.*
.token

testing_tools/real_apis/*/

.eggs/
build/
dist/
lib/
*.egg-info/
